@model TPLOCAL1.Models.FormulaireModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FormulaireModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codepostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codepostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adressemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adressemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFormation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFormation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cobol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cobol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
